Repository axonweb3/axon, pull requests merged in 2022-08, with the labels that each got.

#602 ci: add pr labeler workflow
  .github/config/_labeler.yml
  .github/workflows/pr_lint.yml
Labels: skip_changelog

#612 chore: rename path
  core/api/src/jsonrpc/impl/node.rs
Labels: chore

#614 ci: upgrade coverage test toolchain
  .github/workflows/coverage.yml
  .github/workflows/pr_lint.yml
Labels: skip_changelog

#603 refactor: convert proposal from block reference
  Cargo.lock
  core/api/src/adapter.rs
  core/consensus/src/adapter.rs
  core/consensus/src/synchronization.rs
  core/cross-client/src/sidechain.rs
  core/executor/src/adapter/mod.rs
  core/metadata/src/tests/mod.rs
  core/run/src/lib.rs
  protocol/src/codec/error.rs
  protocol/src/types/block.rs
Labels: refactor, API

#611 fix: fix critical state
  core/mempool/src/pool.rs
  core/mempool/src/tx_wrapper.rs
Labels: bugfix

#646 chore(toolchain): change toolchain to rust 1.63 stable
  Cargo.lock
  Makefile
  common/crypto/src/lib.rs
  common/merkle/src/lib.rs
  core/consensus/src/lib.rs
  core/consensus/src/wal.rs
  core/executor/src/adapter/trie_db.rs
  core/executor/src/lib.rs
  core/interoperation/src/lib.rs
  core/mempool/src/lib.rs
  core/mempool/src/pool.rs
  core/mempool/src/tests/mod.rs
  core/storage/src/lib.rs
  core/storage/src/tests/mod.rs
  core/storage/src/tests/storage.rs
  rust-toolchain
Labels: chore

#650 feat(ibc): add ibc compat skeleton
  Cargo.lock
  Cargo.toml
  core/ibc/Cargo.toml
  core/ibc/src/adapter.rs
  core/ibc/src/client.rs
  core/ibc/src/error.rs
  core/ibc/src/grpc.rs
  core/ibc/src/lib.rs
  core/ibc/src/transfer.rs
  protocol/Cargo.toml
  protocol/src/lib.rs
  protocol/src/traits/ibc.rs
  protocol/src/traits/mod.rs
  protocol/src/types/ibc.rs
  protocol/src/types/mod.rs
Labels: feature

#651 fix(consensus): fix check order transaction
  core/consensus/src/engine.rs
Labels: bugfix

#656 fix: update orgs name
  Cargo.toml
  README.md
Labels: bugfix

#666 refactor(storage): core storage and cross chain storage implement
  Cargo.lock
  core/cross-client/Cargo.toml
  core/cross-client/src/adapter/db.rs
  core/cross-client/src/adapter/mod.rs
  core/cross-client/src/error.rs
  core/storage/src/adapter/memory.rs
  core/storage/src/adapter/rocks.rs
  core/storage/src/hash_key.rs
  core/storage/src/lib.rs
  core/storage/src/schema.rs
  core/storage/src/tests/adapter.rs
  core/storage/src/tests/mod.rs
  core/storage/src/tests/storage.rs
  protocol/src/traits/mod.rs
  protocol/src/traits/storage.rs
Labels: refactor
