Repository axonweb3/axon, pull requests merged in 2022-12, with the labels that each got.

#888 refactor(API): total difficulty in header always be zero
  core/api/src/jsonrpc/web3_types.rs
Labels: refactor

#902 refactor: remove core ibc module
  Cargo.lock
  Cargo.toml
  core/ibc/Cargo.toml
  core/ibc/src/adapter.rs
  core/ibc/src/client.rs
  core/ibc/src/error.rs
  core/ibc/src/grpc.rs
  core/ibc/src/lib.rs
  core/ibc/src/transfer.rs
  core/run/Cargo.toml
  core/run/src/lib.rs
  core/storage/Cargo.toml
  core/storage/src/lib.rs
  core/storage/src/schema.rs
  core/storage/src/tests/storage.rs
  protocol/Cargo.toml
  protocol/src/codec/crosschain.rs
  protocol/src/codec/error.rs
  protocol/src/lib.rs
  protocol/src/traits/ibc.rs
  protocol/src/traits/mod.rs
  protocol/src/traits/storage.rs
  protocol/src/types/ibc.rs
  protocol/src/types/mod.rs
Labels: refactor

#909 feat: add write interfaces and abi for image cell system contract
  Cargo.lock
  core/executor/Cargo.toml
  core/executor/src/system_contract/image_cell/abi/ImageCell.abi.json
  core/executor/src/system_contract/image_cell/abi/README.md
  core/executor/src/system_contract/image_cell/abi/image_cell_abi.rs
  core/executor/src/system_contract/image_cell/abi/mod.rs
  core/executor/src/system_contract/image_cell/contract/.gitignore
  core/executor/src/system_contract/image_cell/contract/contracts/ImageCell.sol
  core/executor/src/system_contract/image_cell/contract/contracts/libraries/CkbType.sol
  core/executor/src/system_contract/image_cell/contract/hardhat.config.js
  core/executor/src/system_contract/image_cell/contract/package.json
  core/executor/src/system_contract/image_cell/contract/scripts/image-cell.deploy.js
  core/executor/src/system_contract/image_cell/contract/test/image-cell.js
  core/executor/src/system_contract/image_cell/contract/yarn.lock
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/system_contract/mod.rs
Labels: feature

#914 ci: disable disable coverage test ci on main branch
  .github/workflows/coverage.yml
Labels: skip_changelog

#917 feat: implement write interfaces for image cell system contract
  Cargo.lock
  core/executor/Cargo.toml
  core/executor/src/system_contract/image_cell/abi/README.md
  core/executor/src/system_contract/image_cell/contract/.gitignore
  core/executor/src/system_contract/image_cell/contract/README.md
  core/executor/src/system_contract/image_cell/error.rs
  core/executor/src/system_contract/image_cell/exec.rs
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/system_contract/image_cell/store.rs
  core/executor/src/system_contract/image_cell/trie_db.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/executor/src/tests/system_script/mod.rs
  core/executor/src/tests/system_script/native_token.rs
Labels: feature

#928 style: format the abi expand code
  core/executor/src/system_contract/image_cell/abi/image_cell_abi.rs
  core/executor/src/system_contract/image_cell/mod.rs
Labels: style

#937 refactor: init image cell in start
  common/config-parser/src/types.rs
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/run/src/lib.rs
Labels: refactor, bugfix

#941 refactor: code fmt
  common/config-parser/src/types.rs
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/run/src/lib.rs
Labels: refactor, bugfix
