Repository axonweb3/axon, pull requests merged in 2022-10, with the labels that each got.

#771 chore: add rpc debug log
  Cargo.lock
  common/apm-derive/Cargo.toml
  common/apm-derive/src/rpc_expand.rs
Labels: chore

#774 fix: fix cargo clippy in apm derive
  common/apm-derive/src/rpc_expand.rs
Labels: bugfix

#781 chore: bump some crates version
  Cargo.lock
  core/interoperation/src/lib.rs
Labels: chore

#782 chore: keep package.json files up to date
  builtin-contract/crosschain/package.json
  builtin-contract/crosschain/yarn.lock
  builtin-contract/metadata/package.json
  builtin-contract/metadata/yarn.lock
  tests/e2e/package.json
  tests/e2e/yarn.lock
Labels: chore

#791 docs: add axon related links in readme
  README.md
Labels: document

#797 docs: update some links in readme
  README.md
Labels: document

#808 chore: bump ethers crates to 1.0 version
  Cargo.lock
  core/cross-client/Cargo.toml
  core/cross-client/src/abi/crosschain_abi.rs
  core/cross-client/src/abi/wckb_abi.rs
  core/cross-client/src/lib.rs
  core/executor/Cargo.toml
  core/executor/src/debugger/crosschain.rs
  core/metadata/Cargo.toml
  core/run/Cargo.toml
  devtools/genesis-generator/Cargo.toml
Labels: chore
