Repository axonweb3/axon, pull requests merged in 2022-09, with the labels that each got.

#633 feat: apply ERC1967 proxy feature on metadata and crosschain contract
  builtin-contract/crosschain/.gitignore
  builtin-contract/crosschain/contracts/crosschain.sol
  builtin-contract/crosschain/hardhat.config.js
  builtin-contract/crosschain/package.json
  builtin-contract/crosschain/scripts/crosschain.deploy.js
  builtin-contract/crosschain/scripts/crosschain.proxy.js
  builtin-contract/crosschain/test/crosschain.js
  builtin-contract/crosschain/yarn.lock
  builtin-contract/metadata/.gitignore
  builtin-contract/metadata/contracts/metadata.sol
  builtin-contract/metadata/hardhat.config.js
  builtin-contract/metadata/package.json
  builtin-contract/metadata/scripts/metadata.deploy.js
  builtin-contract/metadata/scripts/metadata.proxy.js
  builtin-contract/metadata/test/Metadata.test.js
  builtin-contract/metadata/yarn.lock
  core/executor/src/vm.rs
  core/metadata/metadata_abi.json
  core/metadata/src/lib.rs
  core/metadata/src/metadata_abi.rs
  core/metadata/src/tests/controller.rs
  core/metadata/src/tests/mod.rs
  core/run/src/lib.rs
  devtools/chain/genesis_single_node.json
  tests/e2e/package.json
Labels: feature

#658 docs: update README.md and SECURITY.md
  README.md
  SECURITY.md
  docs/assets/logo/axon-01.png
Labels: document

#675 chore: bump some e2e dependencies version
  tests/e2e/package.json
  tests/e2e/yarn.lock
Labels: skip_changelog, chore

#693 refactor: change some style of evm benchmark
  core/executor/benches/revm_adapter.rs
Labels: refactor, style

#696 chore: bump some dependencies version
  Cargo.lock
Labels: skip_changelog, chore

#686 feat: change type of ckb_address in Transfer from H160 to String
  builtin-contract/crosschain/hardhat.config.js
  core/cross-client/src/lib.rs
  core/run/src/lib.rs
  core/tx-assembler/src/lib.rs
  core/tx-assembler/src/tests/mod.rs
  core/tx-assembler/src/util.rs
  protocol/Cargo.toml
  protocol/src/codec/crosschain.rs
  protocol/src/types/crosschain.rs
Labels: feature

#697 style: change some code style and cargo update
  .github/actions/ci_prologue/ci_prologue.sh
  .github/workflows/pr_lint.yml
  Cargo.lock
  core/executor/Cargo.toml
  core/executor/benches/bench_vm.rs
  core/executor/benches/revm_adapter.rs
  core/mempool/Cargo.toml
  protocol/Cargo.toml
  protocol/src/traits/storage.rs
Labels: style

#702 chore: make multi nodes genesis up to date
  core/metadata/src/tests/controller.rs
  core/metadata/src/tests/metadata_multi.json
  devtools/chain/README.md
  devtools/chain/nodes/genesis_multi_nodes.json
Labels: chore

#710 ci: fix unit test ci
  .github/workflows/clippy.yml
  .github/workflows/e2e_test.yml
  .github/workflows/unit_test.yml
  .github/workflows/web3_compatible.yml
Labels: skip_changelog, bugfix

#709 refactor: change ibc grpc server and context impl
  Cargo.lock
  core/ibc/src/grpc.rs
  core/ibc/src/lib.rs
  protocol/src/lib.rs
  protocol/src/traits/ibc.rs
  protocol/src/traits/mod.rs
Labels: refactor

#712 chore: update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#718 ci: fix finally job
  .github/workflows/unit_test.yml
Labels: skip_changelog, bugfix

#721 docs: update README
  README.md
Labels: document

#741 fix: fix get log address
  core/api/src/jsonrpc/impl/web3.rs
Labels: bugfix

#743 fix: update muta to axon
  Makefile
  common/apm/README.md
  common/logger/src/lib.rs
  core/consensus/src/util.rs
Labels: bugfix

#745 fix(API): fix filter logs address
  core/api/src/jsonrpc/impl/filter.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/api/src/jsonrpc/ws_subscription.rs
Labels: bugfix
