Repository axonweb3/axon, pull requests merged in 2022-11, with the labels that each got.

#804 chore: bump ckb related crates version to 0.105
  Cargo.lock
  core/cross-client/Cargo.toml
  core/executor/Cargo.toml
  core/interoperation/Cargo.toml
  core/interoperation/src/lib.rs
  core/rpc-client/Cargo.toml
  core/rpc-client/src/client.rs
  core/run/Cargo.toml
  core/tx-assembler/Cargo.toml
  core/tx-assembler/src/indexer/types.rs
  core/tx-assembler/src/lib.rs
  protocol/Cargo.toml
  protocol/src/traits/ckb_client.rs
Labels: chore

#838 fix(e2e): fix get metamask error
  tests/e2e/package.json
  tests/e2e/yarn.lock
Labels: bugfix

#837 chore: bump rust toolchain to 1.65
  Cargo.lock
  common/config-parser/src/lib.rs
  core/executor/src/debugger/mod.rs
  core/interoperation/Cargo.toml
  core/interoperation/src/lib.rs
  core/mempool/src/adapter/mod.rs
  core/storage/src/tests/storage.rs
  protocol/src/types/primitive.rs
  rust-toolchain
Labels: chore

#856 feat: add fee allocate and support use as lib
  Cargo.lock
  Cargo.toml
  core/consensus/src/adapter.rs
  core/executor/Cargo.toml
  core/executor/benches/bench_transfer.rs
  core/executor/benches/bench_vm.rs
  core/executor/benches/revm_adapter.rs
  core/executor/src/debugger/mod.rs
  core/executor/src/lib.rs
  core/executor/src/system.rs
  core/executor/src/utils.rs
  core/executor/src/vm.rs
  core/metadata/src/tests/mod.rs
  core/run/src/lib.rs
  examples/custom_chain.rs
  protocol/src/codec/executor.rs
  protocol/src/traits/executor.rs
  protocol/src/types/executor.rs
  src/lib.rs
Labels: feature

#866 chore(deps): bump dappeteer from 2.4.0-rc0 to 2.4.0-rc1
  tests/e2e/package.json
  tests/e2e/yarn.lock
Labels: chore

#865 refactor: change static merkle to trie merkle
  Cargo.lock
  common/merkle/Cargo.toml
  common/merkle/src/lib.rs
  core/consensus/src/engine.rs
  core/consensus/src/lib.rs
  core/executor/benches/revm_adapter.rs
  core/executor/src/adapter/trie.rs
  core/executor/src/lib.rs
Labels: refactor

#869 chore(deps): bump ethereum related crates version
  Cargo.lock
  common/merkle/Cargo.toml
  core/executor/Cargo.toml
  core/executor/benches/revm_adapter.rs
  protocol/Cargo.toml
Labels: chore

#878 chore: bump cita_trie version to 4.0.0
  Cargo.lock
  common/merkle/Cargo.toml
  common/merkle/src/lib.rs
  core/api/Cargo.toml
  core/api/src/adapter.rs
  core/consensus/Cargo.toml
  core/consensus/src/adapter.rs
  core/cross-client/Cargo.toml
  core/cross-client/src/adapter/mod.rs
  core/executor/Cargo.toml
  core/executor/benches/bench_vm.rs
  core/executor/benches/revm_adapter.rs
  core/executor/src/adapter/mod.rs
  core/executor/src/adapter/trie_db.rs
  core/executor/src/adapter/wrapped_trie.rs
  core/mempool/Cargo.toml
  core/mempool/src/adapter/mod.rs
  core/metadata/Cargo.toml
  core/metadata/src/adapter.rs
  core/run/Cargo.toml
  protocol/Cargo.toml
  protocol/src/lib.rs
Labels: skip_changelog, chore
