Repository axonweb3/axon, pull requests merged in 2023-11, with the labels that each got.

#1521 chore: remove empty crates
  Cargo.lock
  Cargo.toml
  common/channel/Cargo.toml
  common/channel/src/lib.rs
  common/pubsub/Cargo.toml
  common/pubsub/src/lib.rs
Labels: chore

#1528 refactor: enhance readability of output logs and errors
  core/consensus/src/adapter.rs
  core/consensus/src/engine.rs
  core/consensus/src/lib.rs
  core/consensus/src/synchronization.rs
  core/executor/src/system_contract/mod.rs
  core/interoperation/src/lib.rs
  core/mempool/src/adapter/mod.rs
  core/mempool/src/lib.rs
  core/network/src/error.rs
  protocol/src/types/block.rs
  protocol/src/types/interoperation.rs
  protocol/src/types/mod.rs
  protocol/src/types/primitive.rs
Labels: refactor

#1530 fix: value of gas in JSON RPC Transaction should be gas limit
  core/api/src/jsonrpc/web3_types.rs
Labels: bugfix

#1536 ci: specify commits of tests
  .github/workflows/copy_config_to_devops.yml
  .github/workflows/hardfork_test.yml
  .github/workflows/openzeppelin_test_11.yml
  .github/workflows/openzeppelin_test_16_19.yml
  .github/workflows/openzeppelin_test_1_5_and_12_15.yml
  .github/workflows/openzeppelin_test_6_10.yml
  .github/workflows/v3_core_test.yml
  .github/workflows/web3_compatible.yml
Labels: skip_changelog

#1541 chore(CI): refactor `v3_core_test` workflow
  .github/workflows/v3_core_test.yml
Labels: github_actions, skip_changelog, refactor, chore

#1540 feat: add `eth_getProof` JSON RPC API
  common/apm/src/metrics/api.rs
  core/api/src/adapter.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/api/src/jsonrpc/mod.rs
  protocol/src/traits/api.rs
  protocol/src/types/executor.rs
  protocol/src/types/mod.rs
Labels: feature

#1538 refactor: refactor fn is_hardfork_enabled
  core/executor/src/lib.rs
Labels: refactor

#1548 chore: use a same default value for `max_payload_size`
  devtools/chain/config.toml
  devtools/chain/k8s/node_1.toml
  devtools/chain/k8s/node_2.toml
  devtools/chain/k8s/node_3.toml
  devtools/chain/k8s/node_4.toml
  devtools/chain/nodes/node_1.toml
  devtools/chain/nodes/node_2.toml
  devtools/chain/nodes/node_3.toml
  devtools/chain/nodes/node_4.toml
Labels: chore

#1549 docs: add `eth_getProof` API doc
  core/api/README.md
Labels: document

#1556 refactor: remove duplicated code to protect :eye::eye: of developers
  core/api/src/jsonrpc/impl/web3.rs
  core/api/src/jsonrpc/web3_types.rs
Labels: refactor

#1557 chore(CI): update axon-hardfork-test version
  .github/workflows/hardfork_test.yml
Labels: skip_changelog, chore

#1555 feat: add `ckb_blake2b` precompile contract
  core/executor/src/precompiles/ckb_blake2b.rs
  core/executor/src/precompiles/mod.rs
  core/executor/src/precompiles/tests.rs
Labels: feature

#1533 fix: rlp decode of `SignedTransction` with interoperation signature
  core/api/src/jsonrpc/impl/web3.rs
  core/api/src/jsonrpc/web3_types.rs
  core/consensus/benches/bench_wal.rs
  core/consensus/src/wal.rs
  core/executor/src/precompiles/mod.rs
  core/executor/src/precompiles/verify_by_ckb_vm.rs
  core/interoperation/src/lib.rs
  core/interoperation/src/utils.rs
  core/mempool/src/adapter/mod.rs
  core/mempool/src/lib.rs
  core/storage/benches/bench.rs
  core/storage/src/tests/mod.rs
  protocol/src/codec/transaction.rs
  protocol/src/traits/interoperation.rs
  protocol/src/types/batch.rs
  protocol/src/types/interoperation.rs
  protocol/src/types/mod.rs
  protocol/src/types/transaction.rs
Labels: refactor, bugfix

#1554 fix: get genesis block proposal may panic
  core/api/src/jsonrpc/impl/axon.rs
Labels: bugfix

#1559 ci: run unit tests in separate processes
  .github/workflows/unit_test.yml
  Makefile
Labels: skip_changelog

#1562 chore(CI): update axon-hardfork-test version 2nd
  .github/workflows/hardfork_test.yml
Labels: skip_changelog, chore

#1563 chore: axon-tools use ckb-blst for riscv64
  Cargo.lock
  devtools/axon-tools/Cargo.toml
Labels: chore

#1566 chore(CI): update axon-hardfork-test version 3rd
  .github/workflows/hardfork_test.yml
Labels: skip_changelog, chore

#1571 fix: fix typo in get_proof impl
  core/api/src/adapter.rs
Labels: bugfix

#1581 feat: support stop at specific height
  core/cli/src/args/run.rs
  core/consensus/src/consensus.rs
  core/consensus/src/engine.rs
  core/consensus/src/lib.rs
  core/consensus/src/stop_signal.rs
  core/run/src/lib.rs
Labels: skip_changelog, feature

#1576 fix(executor)!: set_ckb_related_info transaction is not committed
  core/executor/src/system_contract/metadata/store.rs
  core/executor/src/tests/system_script/metadata.rs
Labels: bugfix

#1601 fix: field `chainId` should be acceptable for `eth_estimateGas`
  core/api/README.md
  core/api/src/jsonrpc/impl/web3.rs
  core/api/src/jsonrpc/web3_types.rs
Labels: bugfix

#1602 chore(CI): remove call `eth_estimateGas` to metadata contract
  .github/workflows/hardfork_test.yml
Labels: skip_changelog, chore

#1598 chore(CI): set v3_core_test timeout minutes 2nd
  .github/workflows/v3_core_test.yml
Labels: skip_changelog, chore

#1603 fix: enable estimation mode for query apis
  core/executor/src/lib.rs
Labels: bugfix

#1605 fix: get pending tx count by number
  core/api/src/adapter.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/mempool/src/lib.rs
  core/mempool/src/pool.rs
  protocol/src/traits/api.rs
  protocol/src/traits/mempool.rs
Labels: bugfix

#1599 fix: duplicated calculation in `eth_estimateGas`
  core/executor/src/lib.rs
  protocol/src/types/transaction.rs
Labels: bugfix
