Repository axonweb3/axon, pull requests merged in 2023-05, with the labels that each got.

#1169 refactor: fix clippy error
  Cargo.lock
Labels: refactor, bugfix

#1181 refactor: update k8s config files
  devtools/chain/k8s/node_1.toml
  devtools/chain/k8s/node_2.toml
  devtools/chain/k8s/node_3.toml
  devtools/chain/k8s/node_4.toml
  devtools/chain/k8s/sync_nodes/node_5.toml
  devtools/chain/k8s/sync_nodes/node_6.toml
  devtools/chain/k8s/sync_nodes/node_7.toml
  devtools/chain/k8s/sync_nodes/node_8.toml
Labels: refactor

#1183 fix: fix modexp gas cost
  core/executor/src/precompiles/modexp.rs
Labels: bugfix

#1184 feat(API): add axon exclusive rpc method
  core/api/src/jsonrpc/impl/axon.rs
  core/api/src/jsonrpc/impl/mod.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/api/src/jsonrpc/mod.rs
  core/storage/src/adapter/rocks.rs
  protocol/src/traits/storage.rs
  protocol/src/types/block.rs
Labels: feature

#1185 chore: upgrade rocksdb version to 0.20
  Cargo.lock
  common/memory-tracker/Cargo.toml
  core/executor/Cargo.toml
  core/storage/Cargo.toml
Labels: chore

#1165 feat(executor): add block hook in system contract
  .editorconfig
  Cargo.lock
  core/executor/src/lib.rs
  core/executor/src/system_contract/ckb_light_client/abi/ckb_light_client_abi.rs
  core/executor/src/system_contract/error.rs
  core/executor/src/system_contract/metadata/abi/metadata_abi.json
  core/executor/src/system_contract/metadata/abi/metadata_abi.rs
  core/executor/src/system_contract/metadata/abi/mod.rs
  core/executor/src/system_contract/metadata/handle.rs
  core/executor/src/system_contract/metadata/mod.rs
  core/executor/src/system_contract/metadata/store.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/tests/system_script/metadata.rs
  core/run/src/lib.rs
  devtools/chain/genesis_single_node.json
  devtools/chain/nodes/genesis_multi_nodes.json
  devtools/genesis-generator/Cargo.toml
  devtools/genesis-generator/metadata.json
  devtools/genesis-generator/src/main.rs
  protocol/src/types/block.rs
  protocol/src/types/primitive.rs
Labels: feature

#1187 refactor: remove useless code about overlord_gap
  common/config-parser/src/types.rs
  devtools/chain/config.toml
  devtools/chain/k8s/node_1.toml
  devtools/chain/k8s/node_2.toml
  devtools/chain/k8s/node_3.toml
  devtools/chain/k8s/node_4.toml
  devtools/chain/k8s/sync_nodes/node_5.toml
  devtools/chain/k8s/sync_nodes/node_6.toml
  devtools/chain/k8s/sync_nodes/node_7.toml
  devtools/chain/k8s/sync_nodes/node_8.toml
  devtools/chain/nodes/node_1.toml
  devtools/chain/nodes/node_2.toml
  devtools/chain/nodes/node_3.toml
  devtools/chain/nodes/node_4.toml
Labels: refactor

#1189 ci: update copy_config_to_devops.yml
  .github/workflows/copy_config_to_devops.yml
Labels: skip_changelog

#1188 feat(API): add get metadata rpc method
  core/api/src/adapter.rs
  core/api/src/jsonrpc/impl/axon.rs
  core/api/src/jsonrpc/mod.rs
  core/executor/src/debugger/mod.rs
  core/executor/src/lib.rs
  core/executor/src/system_contract/metadata/abi/mod.rs
  protocol/src/codec/mod.rs
  protocol/src/traits/api.rs
  protocol/src/types/block.rs
  protocol/src/types/primitive.rs
Labels: feature

#1191 fix: check the first block in a new metadata
  common/apm/src/metrics/consensus.rs
  core/consensus/src/adapter.rs
  core/consensus/src/consensus.rs
  core/consensus/src/engine.rs
  core/consensus/src/synchronization.rs
  core/consensus/src/tests/mod.rs
  core/executor/src/system_contract/error.rs
  core/executor/src/system_contract/metadata/segment.rs
  core/executor/src/system_contract/metadata/store.rs
  core/executor/src/system_contract/mod.rs
  core/run/src/lib.rs
  devtools/chain/geneses/genesis_multi_nodes_short_epoch_len.json
  protocol/src/traits/consensus.rs
  protocol/src/types/primitive.rs
Labels: bugfix

#1192 feat: enable fetch privkey from env
  common/config-parser/src/types.rs
  devtools/genesis-generator/src/main.rs
Labels: feature

#1193 chore: release v0.1.0-beta.1 version
  Cargo.lock
  Cargo.toml
Labels: chore

#1194 docs: automated update CHANGELOG.md
  CHANGELOG.md
Labels: document

#1195 refactor: change the value of cache_size
  devtools/chain/config.toml
  devtools/chain/k8s/node_1.toml
  devtools/chain/k8s/node_2.toml
  devtools/chain/k8s/node_3.toml
  devtools/chain/k8s/node_4.toml
  devtools/chain/k8s/sync_nodes/node_5.toml
  devtools/chain/k8s/sync_nodes/node_6.toml
  devtools/chain/k8s/sync_nodes/node_7.toml
  devtools/chain/k8s/sync_nodes/node_8.toml
  devtools/chain/nodes/node_1.toml
  devtools/chain/nodes/node_2.toml
  devtools/chain/nodes/node_3.toml
  devtools/chain/nodes/node_4.toml
Labels: refactor

#1197 chore: upgrade js deps
  builtin-contract/crosschain/package-lock.json
  builtin-contract/crosschain/package.json
  builtin-contract/crosschain/yarn.lock
  builtin-contract/metadata/package.json
  builtin-contract/metadata/yarn.lock
  builtin-contract/system-contract/yarn.lock
  tests/e2e/package.json
  tests/e2e/yarn.lock
Labels: dependencies

#1200 refactor: change the default feature of protocol
  README.md
  common/apm/Cargo.toml
  common/config-parser/Cargo.toml
  common/crypto/Cargo.toml
  common/merkle/Cargo.toml
  core/executor/Cargo.toml
  core/interoperation/Cargo.toml
  devtools/genesis-generator/Cargo.toml
  protocol/Cargo.toml
  protocol/src/types/block.rs
  protocol/src/types/primitive.rs
Labels: refactor

#1201 ci: ci for regression test
  .github/workflows/build_image.yml
  .github/workflows/chaos.yml
  .github/workflows/clippy.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e_test.yml
  .github/workflows/entry_workflow.yml
  .github/workflows/fmt.yml
  .github/workflows/openzeppelin_test_11.yml
  .github/workflows/openzeppelin_test_16_19.yml
  .github/workflows/openzeppelin_test_1_5_and_12_15.yml
  .github/workflows/openzeppelin_test_6_10.yml
  .github/workflows/regression_testing.yml
  .github/workflows/unit_test.yml
  .github/workflows/v3_core_test.yml
  .github/workflows/web3_compatible.yml
Labels: chore

#1205 ci: locked the runner versions
  .github/workflows/release.yml
  .github/workflows/somking_test.yml
Labels: skip_changelog

#1207 refactor(consensus): change save proof moment
  common/config-parser/src/types.rs
  core/consensus/src/engine.rs
Labels: refactor

#1199 refactor(executor): change ckb light client ABI
  core/executor/src/precompiles/get_cell.rs
  core/executor/src/precompiles/get_header.rs
  core/executor/src/system_contract/ckb_light_client/abi/ckb_light_client_abi.json
  core/executor/src/system_contract/ckb_light_client/abi/ckb_light_client_abi.rs
  core/executor/src/system_contract/ckb_light_client/abi/mod.rs
  core/executor/src/system_contract/ckb_light_client/mod.rs
  core/executor/src/system_contract/ckb_light_client/store.rs
  core/executor/src/system_contract/error.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/tests/system_script/ckb_light_client.rs
Labels: refactor

#1209 chore: remove useless config
  common/config-parser/src/types.rs
  core/network/src/config.rs
Labels: chore
