Repository axonweb3/axon, pull requests merged in 2023-12, with the labels that each got.

#1610 ci: refactor OpenZeppelin tests and entry_workflow.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/entry_workflow.yml
  .github/workflows/openzeppelin_test_11.yml
  .github/workflows/openzeppelin_test_16_19.yml
  .github/workflows/openzeppelin_test_1_5_and_12_15.yml
  .github/workflows/openzeppelin_test_6_10.yml
  .github/workflows/v3_core_test.yml
  .github/workflows/web3_compatible.yml
  tests/e2e/docker-compose.yaml
Labels: refactor, bugfix, chore

#1609 fix: rpc method `eth_call` shouldn't set `estimate = true`
  core/api/src/adapter.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/executor/src/debugger/mod.rs
  core/executor/src/lib.rs
  core/executor/src/tests/mod.rs
  protocol/src/traits/api.rs
  protocol/src/traits/executor.rs
Labels: bugfix

#1611 chore(CI): update openzeppelin-contracts version
  .github/workflows/openzeppelin_test_11.yml
  .github/workflows/openzeppelin_test_16_19.yml
  .github/workflows/openzeppelin_test_1_5_and_12_15.yml
  .github/workflows/openzeppelin_test_6_10.yml
Labels: skip_changelog, chore

#1607 feat(axon-tools): add precompile payload codec
  Cargo.lock
  devtools/axon-tools/Cargo.toml
  devtools/axon-tools/src/lib.rs
  devtools/axon-tools/src/precompile.rs
Labels: feature

#1612 chore(CI): update axon-test version
  .github/workflows/web3_compatible.yml
Labels: skip_changelog, chore

#1613 chore(CI): update axon-test version 2nd
  .github/workflows/web3_compatible.yml
Labels: skip_changelog, chore

#1591 refactor!: change many `U256` type to `U64`
  common/config-parser/src/types/spec.rs
  core/api/src/adapter.rs
  core/api/src/jsonrpc/impl/axon.rs
  core/api/src/jsonrpc/impl/filter.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/api/src/jsonrpc/web3_types.rs
  core/consensus/src/engine.rs
  core/consensus/src/tests/mod.rs
  core/executor/benches/mock.rs
  core/executor/benches/revm_adapter.rs
  core/executor/src/adapter/backend/apply.rs
  core/executor/src/adapter/backend/read_only.rs
  core/executor/src/debugger/create2.rs
  core/executor/src/debugger/mod.rs
  core/executor/src/debugger/uniswap2.rs
  core/executor/src/lib.rs
  core/executor/src/system_contract/utils.rs
  core/executor/src/tests/mod.rs
  core/mempool/benches/mock.rs
  core/mempool/src/adapter/mod.rs
  core/mempool/src/lib.rs
  core/mempool/src/pool.rs
  core/mempool/src/tests/mod.rs
  core/mempool/src/tx_wrapper.rs
  core/network/src/peer_manager/peer_store/peer_store_impl.rs
  core/run/src/components/chain_spec.rs
  core/run/src/lib.rs
  devtools/axon-tools/src/rlp_codec.rs
  devtools/axon-tools/src/tests/verify_proof.rs
  devtools/axon-tools/src/types.rs
  protocol/src/codec/block.rs
  protocol/src/codec/transaction.rs
  protocol/src/constants/configs.rs
  protocol/src/constants/mod.rs
  protocol/src/lib.rs
  protocol/src/traits/api.rs
  protocol/src/traits/executor.rs
  protocol/src/traits/mempool.rs
  protocol/src/types/block.rs
  protocol/src/types/executor.rs
  protocol/src/types/mod.rs
  protocol/src/types/primitive.rs
  protocol/src/types/receipt.rs
  protocol/src/types/transaction.rs
  tests/e2e/src/eth_call.test.js
Labels: refactor

#1619 refactor: forbid call `eth_getStorageAt` to system contract accounts
  core/api/src/jsonrpc/impl/web3.rs
Labels: refactor

#1618 refactor: `Proof.block_hash` serde rename as `proposal_hash`
  devtools/axon-tools/src/proof.rs
  devtools/axon-tools/src/rlp_codec.rs
  devtools/axon-tools/src/tests/block.json
  devtools/axon-tools/src/tests/proof.json
  devtools/axon-tools/src/tests/verify_proof.rs
  devtools/axon-tools/src/types.rs
  protocol/src/types/block.rs
Labels: refactor

#1625 fix: gas limit too low error
  core/api/src/jsonrpc/error.rs
  core/api/src/jsonrpc/impl/web3.rs
Labels: bugfix

#1626 refactor: change estimate gas calculation
  core/executor/src/lib.rs
Labels: refactor

#1632 chore(CI): add eth_getStorageAt, eth_getProof cases
  .github/workflows/hardfork_test.yml
Labels: skip_changelog, chore

#1634 fix(mempool)!: check gas limit range
  core/mempool/src/adapter/mod.rs
  core/mempool/src/lib.rs
  core/run/src/lib.rs
Labels: bugfix

#1621 refactor(cli): update keypair generate command
  Cargo.lock
  Cargo.toml
  core/cli/Cargo.toml
  core/cli/README.md
  core/cli/src/args/generate_keypair.rs
  core/cli/src/args/mod.rs
  core/cli/src/args/recover_keypair.rs
  core/cli/src/error.rs
  core/cli/src/lib.rs
  devtools/keypair/Cargo.toml
  devtools/keypair/src/keypair.yml
  devtools/keypair/src/main.rs
Labels: refactor

#1635 chore: deprecate AXON_BOT_APP
  .github/workflows/chaos.yml
  .github/workflows/release.yml
Labels: chore

#1640 feat: cli for metadata cell data
  Cargo.lock
  Cargo.toml
  devtools/metadata-cli/Cargo.toml
  devtools/metadata-cli/README.md
  devtools/metadata-cli/input.example.json
  devtools/metadata-cli/input.example.toml
  devtools/metadata-cli/src/main.rs
  devtools/metadata-cli/src/serde_helpers.rs
Labels: feature

#1627 chore: bump Axon version to 0.3.0-beta
  .github/workflows/build_image_ghcr.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: chore

#1641 refactor: omit `address` field in chain spec parsing
  common/config-parser/src/types/spec.rs
  core/consensus/src/adapter.rs
  core/consensus/src/consensus.rs
  core/consensus/src/tests/mod.rs
  core/run/src/lib.rs
  core/run/src/tests.rs
  devtools/chain/specs/multi_nodes/chain-spec.toml
  devtools/chain/specs/multi_nodes_short_epoch_len/chain-spec.toml
  devtools/chain/specs/single_node/chain-spec.toml
  protocol/src/traits/consensus.rs
  protocol/src/types/primitive.rs
Labels: refactor

#1642 refactor!: change some precompile input and output to tuple
  core/executor/src/precompiles/call_ckb_vm.rs
  core/executor/src/precompiles/ckb_mbt_verify.rs
  core/executor/src/precompiles/get_cell.rs
  core/executor/src/precompiles/get_header.rs
  core/executor/src/precompiles/tests.rs
Labels: refactor

#1644 feat: metadata cli parse data
  Cargo.lock
  devtools/metadata-cli/Cargo.toml
  devtools/metadata-cli/README.md
  devtools/metadata-cli/data.example.hex
  devtools/metadata-cli/input.example.toml
  devtools/metadata-cli/src/main.rs
Labels: feature

#1649 feat: enable get header precompile
  core/executor/src/precompiles/mod.rs
Labels: feature

#1652 chore(CI): fix e2e metamask not found
  tests/e2e/jest/setup.js
  tests/e2e/package.json
  tests/e2e/src/web3_clientVersion.test.js
  tests/e2e/yarn.lock
Labels: skip_changelog, bugfix, chore

#1651 docs: add api doc
  core/api/README.md
Labels: document
