Repository axonweb3/axon, pull requests merged in 2023-09, with the labels that each got.

#1349 refactor: the all-in-one file of `core-run`
  Cargo.lock
  common/memory-tracker/src/lib.rs
  core/run/src/components/extensions.rs
  core/run/src/components/mod.rs
  core/run/src/components/network.rs
  core/run/src/components/profiling.rs
  core/run/src/components/storage.rs
  core/run/src/components/system.rs
  core/run/src/error.rs
  core/run/src/key_provider.rs
  core/run/src/lib.rs
  core/run/src/tests.rs
  protocol/Cargo.toml
  protocol/src/types/executor.rs
  protocol/src/types/mod.rs
Labels: refactor

#1392 ci: refactor `web_compatible` workflow
  .github/workflows/entry_workflow.yml
  .github/workflows/regression_testing.yml
  .github/workflows/web3_compatible.yml
Labels: skip_changelog, refactor

#1396 fix: `Hex` serde deserialize
  protocol/src/types/primitive.rs
Labels: bugfix

#1405 refactor: better error message display
  protocol/src/lib.rs
Labels: refactor

#1386 feat(cli): split sub-command `run` to `init` and `run`
  .github/workflows/axon-start-with-short-genesis.yml
  .github/workflows/openzeppelin_test_11.yml
  .github/workflows/openzeppelin_test_16_19.yml
  .github/workflows/openzeppelin_test_1_5_and_12_15.yml
  .github/workflows/openzeppelin_test_6_10.yml
  .github/workflows/somking_test.yml
  .github/workflows/v3_core_test.yml
  .github/workflows/web3_compatible.yml
  Dockerfile
  Makefile
  README.md
  core/cli/src/args/init.rs
  core/cli/src/args/mod.rs
  core/cli/src/args/run.rs
  core/cli/src/lib.rs
  core/db/src/rocks.rs
  core/run/Cargo.toml
  core/run/src/components/storage.rs
  core/run/src/lib.rs
  core/run/src/tests.rs
  devtools/chain/docker-compose.yml
  devtools/docker/docker-entrypoint.sh
Labels: feature

#1394 ci: remove `invoke-chaos-test` job in regression_testing.yml
  .github/workflows/regression_testing.yml
Labels: github_actions, skip_changelog, bugfix, chore

#1409 ci: fix regression testing workflow
  .github/workflows/regression_testing.yml
Labels: github_actions, skip_changelog, bugfix, chore

#1393 chore: upgrade rust toolchain to 1.72
  Dockerfile
  common/apm-derive/src/lib.rs
  common/apm/src/lib.rs
  common/apm/src/tracing.rs
  common/config-parser/src/lib.rs
  common/logger/src/lib.rs
  common/memory-tracker/src/lib.rs
  core/api/src/adapter.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/api/src/jsonrpc/web3_types.rs
  core/api/src/lib.rs
  core/consensus/src/adapter.rs
  core/consensus/src/lib.rs
  core/executor/benches/bench_transfer.rs
  core/executor/benches/bench_vm.rs
  core/executor/src/debugger/mod.rs
  core/executor/src/lib.rs
  core/executor/src/precompiles/get_cell.rs
  core/executor/src/precompiles/get_header.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/tests/mod.rs
  core/executor/src/tests/system_script/ckb_light_client.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/interoperation/src/lib.rs
  core/interoperation/src/tests/mod.rs
  core/mempool/benches/bench.rs
  core/mempool/benches/mock.rs
  core/mempool/src/adapter/mod.rs
  core/mempool/src/lib.rs
  core/network/examples/simple.rs
  core/network/src/lib.rs
  core/run/src/lib.rs
  core/storage/src/lib.rs
  devtools/genesis-generator/src/main.rs
  examples/custom_chain.rs
  protocol/src/codec/transaction.rs
  protocol/src/lib.rs
  protocol/src/types/ckb_client.rs
  rust-toolchain
Labels: chore

#1398 ci: fix Dockerfile and `test-in-docker-compose` job
  .github/workflows/build_image_ghcr.yml
  Dockerfile
  devtools/chain/docker-compose.yml
Labels: skip_changelog, bugfix, chore, DevOps

#1406 docs: update unreleased part of CHANGELOG.md
  .changelog/config.toml
  .changelog/epilogue.md
  .changelog/unreleased/.gitkeep
  .changelog/unreleased/breaking-changes/1270-correct-receipts-root.md
  .changelog/unreleased/breaking-changes/1302-save-genesis-receipts.md
  .changelog/unreleased/breaking-changes/1316-change-signature-hash-in-interoperation.md
  .changelog/unreleased/breaking-changes/1319-add-version.md
  .changelog/unreleased/breaking-changes/1338-merge-rocks-db.md
  .changelog/unreleased/breaking-changes/1339-remove-header-fields.md
  .changelog/unreleased/breaking-changes/1382-change-hex-rlp.md
  .changelog/unreleased/bug-fixes/1269-require-cli-sub-command.md
  .changelog/unreleased/bug-fixes/1281-rename-subscribe-api.md
  .changelog/unreleased/bug-fixes/1299-modexp-sub-overflow.md
  .changelog/unreleased/bug-fixes/1303-no-unrwap-or-default.md
  .changelog/unreleased/bug-fixes/1344-gas-limit-convert.md
  .changelog/unreleased/bug-fixes/1348-disable-prometheus.md
  .changelog/unreleased/bug-fixes/1353-fix-genesis-hash.md
  .changelog/unreleased/bug-fixes/1370-same-trie.md
  .changelog/unreleased/bug-fixes/1396-deserialize-hex.md
  .changelog/unreleased/bug-fixes/1400-fix-genesis-generator.md
  .changelog/unreleased/code-refactors/1280-thread-local.md
  .changelog/unreleased/code-refactors/1285-change-precompile-payload.md
  .changelog/unreleased/code-refactors/1309-client-version.md
  .changelog/unreleased/code-refactors/1320-constant-values.md
  .changelog/unreleased/code-refactors/1326-derive-command-line.md
  .changelog/unreleased/code-refactors/1328-change-config.md
  .changelog/unreleased/code-refactors/1332-split-config.md
  .changelog/unreleased/code-refactors/1333-remove-deprecated-config.md
  .changelog/unreleased/code-refactors/1349-all-in-one-run.md
  .changelog/unreleased/code-refactors/1351-immutable-chain-id.md
  .changelog/unreleased/code-refactors/1355-remove-sol-tests.md
  .changelog/unreleased/code-refactors/1363-impl-trie-for-mpttrie.md
  .changelog/unreleased/code-refactors/1367-security-secret-key.md
  .changelog/unreleased/code-refactors/1371-change-inner-hex.md
  .changelog/unreleased/code-refactors/1405-error-display.md
  .changelog/unreleased/documents/1364-quick-start.md
  .changelog/unreleased/documents/1369-fix-typos.md
  .changelog/unreleased/documents/1379-meaning-genesis-transactions.md
  .changelog/unreleased/features/1278-check-genesis.md
  .changelog/unreleased/features/1340-decode-eip-55.md
  .changelog/unreleased/features/1380-hardfork-storage.md
  .changelog/unreleased/features/1386-split-run.md
  .changelog/unreleased/features/1389-batch-insert-sync.md
  .changelog/unreleased/performance-improvements/1300-reduce-modexp-mem.md
  CHANGELOG.md
  CHANGELOG_OLD.md
Labels: document

#1402 feat(cli): integrate `genesis-generator` into `axon init`
  .github/workflows/axon-start-with-short-genesis.yml
  .github/workflows/openzeppelin_test_11.yml
  .github/workflows/openzeppelin_test_16_19.yml
  .github/workflows/openzeppelin_test_1_5_and_12_15.yml
  .github/workflows/openzeppelin_test_6_10.yml
  .github/workflows/somking_test.yml
  .github/workflows/v3_core_test.yml
  .github/workflows/web3_compatible.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  common/config-parser/Cargo.toml
  common/config-parser/src/types/spec.rs
  core/cli/src/args/init.rs
  core/cli/src/error.rs
  core/run/Cargo.toml
  core/run/src/components/chain_spec.rs
  core/run/src/components/mod.rs
  core/run/src/lib.rs
  core/run/src/tests.rs
  devtools/chain/debug.key
  devtools/chain/specs/multi_nodes/chain-spec.toml
  devtools/chain/specs/multi_nodes_short_epoch_len/chain-spec.toml
  devtools/chain/specs/single_node/chain-spec.toml
  devtools/docker/docker-entrypoint.sh
  devtools/genesis-generator/Cargo.toml
  devtools/genesis-generator/metadata.json
  devtools/genesis-generator/metadata_multi_nodes.json
  devtools/genesis-generator/src/config.yml
  devtools/genesis-generator/src/main.rs
  protocol/src/codec/mod.rs
  protocol/src/types/primitive.rs
Labels: feature

#1415 fix(devtool): specify the host machine port used by explorer service
  devtools/chain/docker-compose.yml
Labels: skip_changelog, bugfix

#1416 chore: remove useless code
  Makefile
  devtools/genesis-generator/metadata_multi_nodes_short_epoch_len.json
Labels: chore

#1413 fix(API): always return `null` when no receipt was found
  core/api/src/adapter.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/mempool/src/lib.rs
  protocol/src/traits/api.rs
  protocol/src/traits/mempool.rs
Labels: bugfix

#1419 fix: incorrect usage of Makefile since #1416
  Makefile
Labels: bugfix

#1418 chore: use another complex id as default chain id
  core/run/src/tests.rs
  devtools/chain/specs/multi_nodes/chain-spec.toml
  devtools/chain/specs/multi_nodes/genesis_transactions.json
  devtools/chain/specs/multi_nodes_short_epoch_len/chain-spec.toml
  devtools/chain/specs/multi_nodes_short_epoch_len/genesis_transactions.json
  devtools/chain/specs/single_node/chain-spec.toml
  devtools/chain/specs/single_node/genesis_transactions.json
Labels: chore

#1421 fix(tests): the default chain id is changed since #1418
  tests/e2e/src/net_version.test.js
Labels: bugfix

#1429 fix(ci): permit `Label` job to add label to PR
  .github/workflows/pr_lint.yml
Labels: skip_changelog, bugfix

#1430 docs: update the `Getting Started` section in README
  .github/workflows/pr_lint.yml
  README.md
Labels: document

#1431 fix(API): display of signature v in transaction
  Cargo.lock
  Cargo.toml
  common/config-parser/Cargo.toml
  core/api/src/jsonrpc/web3_types.rs
  core/cli/Cargo.toml
  core/run/Cargo.toml
  protocol/src/types/transaction.rs
Labels: bugfix

#1420 chore: bump faster-hex to 0.8.1 version
  Cargo.lock
  Cargo.toml
  core/mempool/Cargo.toml
  protocol/Cargo.toml
  protocol/src/codec/mod.rs
  protocol/src/types/block.rs
Labels: chore

#1438 chore: bump jsonrpsee and ckb related crates version
  Cargo.lock
  common/apm-derive/Cargo.toml
  common/config-parser/src/lib.rs
  common/config-parser/src/types/spec.rs
  core/api/Cargo.toml
  core/api/src/jsonrpc/error.rs
  core/api/src/jsonrpc/impl/axon.rs
  core/api/src/jsonrpc/impl/ckb_light_client.rs
  core/api/src/jsonrpc/impl/filter.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/api/src/jsonrpc/mod.rs
  core/api/src/jsonrpc/ws_subscription.rs
  core/db/src/rocks.rs
  core/executor/Cargo.toml
  core/executor/src/precompiles/verify_by_ckb_vm.rs
  core/executor/src/system_contract/mod.rs
  core/interoperation/Cargo.toml
  core/interoperation/src/lib.rs
  core/mempool/Cargo.toml
  core/mempool/src/adapter/mod.rs
  core/rpc-client/Cargo.toml
  core/storage/src/lib.rs
  protocol/Cargo.toml
  protocol/src/traits/interoperation.rs
  protocol/src/traits/mod.rs
  tests/e2e/src/eth_getStorageAt.test.js
Labels: chore

#1442 feat: change serialization method for extra_data
  common/config-parser/src/types/spec.rs
  core/api/src/jsonrpc/web3_types.rs
  core/consensus/src/engine.rs
  core/consensus/src/lib.rs
  core/executor/src/system_contract/metadata/mod.rs
  core/run/src/tests.rs
  devtools/chain/specs/multi_nodes/chain-spec.toml
  devtools/chain/specs/multi_nodes_short_epoch_len/chain-spec.toml
  devtools/chain/specs/single_node/chain-spec.toml
  protocol/src/types/block.rs
  protocol/src/types/executor.rs
Labels: feature

#1444 fix: revert jsonrpc type
  core/api/src/jsonrpc/web3_types.rs
Labels: bugfix

#1436 ci: refactor the e2e test workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yml
  .github/workflows/e2e_test.yml
  .github/workflows/entry_workflow.yml
  .github/workflows/regression_testing.yml
  .github/workflows/web3_compatible.yml
  tests/e2e/package.json
  tests/e2e/yarn.lock
Labels: github_actions, chore

#1443 refactor: remove first genesis transaction
  core/run/src/components/chain_spec.rs
  core/run/src/tests.rs
  devtools/chain/README.md
  devtools/chain/specs/multi_nodes/genesis_transactions.json
  devtools/chain/specs/multi_nodes_short_epoch_len/genesis_transactions.json
  devtools/chain/specs/single_node/genesis_transactions.json
  tests/e2e/src/eth_feeHistory.test.js
Labels: refactor

#1450 refactor: initialize chain without user-provided genesis transactions file
  common/config-parser/src/types/spec.rs
  core/run/src/components/chain_spec.rs
  devtools/chain/specs/multi_nodes/chain-spec.toml
  devtools/chain/specs/multi_nodes/genesis_transactions.json
  devtools/chain/specs/multi_nodes_short_epoch_len/chain-spec.toml
  devtools/chain/specs/multi_nodes_short_epoch_len/genesis_transactions.json
  devtools/chain/specs/single_node/chain-spec.toml
  devtools/chain/specs/single_node/genesis_transactions.json
Labels: refactor

#1452 chore: add health check in docker
  .github/workflows/build_image_ghcr.yml
  Dockerfile
  devtools/chain/docker-compose.yml
  devtools/chain/quick-start.md
  devtools/docker/health_check.sh
Labels: DevOps
