Repository axonweb3/axon, pull requests merged in 2023-03, with the labels that each got.

#1058 refactor(protocol)!: remove useless fields of block
  core/api/src/jsonrpc/impl/web3.rs
  core/consensus/src/engine.rs
  core/consensus/src/tests/mod.rs
  core/consensus/src/tests/synchronization.rs
  core/interoperation/src/tests/mod.rs
  core/metadata/src/tests/mod.rs
  core/storage/src/tests/mod.rs
  protocol/src/codec/block.rs
  protocol/src/types/block.rs
Labels: refactor

#1064 chore(deps): bump gmp-mpfr-sys to 1.5.1
  Cargo.lock
Labels: dependencies, chore

#1062 chore(e2e): bump dappeteer from 3.0.0 to 5.0.1
  tests/e2e/jest/setup.js
  tests/e2e/package.json
  tests/e2e/src/web3_clientVersion.test.js
  tests/e2e/yarn.lock
Labels: chore

#1044 feat(interoperation): add dummy input mode of cell verify
  Cargo.lock
  core/cross-client/Cargo.toml
  core/executor/Cargo.toml
  core/executor/src/precompiles/verify_by_ckb_vm.rs
  core/executor/src/system_contract/image_cell/data_provider.rs
  core/executor/src/system_contract/image_cell/exec.rs
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/system_contract/image_cell/store.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/interoperation/src/lib.rs
  core/interoperation/src/tests/mod.rs
  core/interoperation/src/tests/verify_in_mempool.rs
  core/interoperation/src/utils.rs
  core/mempool/Cargo.toml
  core/mempool/src/adapter/mod.rs
  core/mempool/src/lib.rs
  core/run/src/lib.rs
  protocol/Cargo.toml
  protocol/src/lazy.rs
  protocol/src/lib.rs
  protocol/src/traits/interoperation.rs
  protocol/src/types/interoperation.rs
  protocol/src/types/mod.rs
Labels: feature

#1065 Revert "refactor(protocol)!: remove useless fields of block"
  core/api/src/jsonrpc/impl/web3.rs
  core/consensus/src/engine.rs
  core/consensus/src/tests/mod.rs
  core/consensus/src/tests/synchronization.rs
  core/interoperation/src/tests/mod.rs
  core/metadata/src/tests/mod.rs
  core/storage/src/tests/mod.rs
  protocol/src/codec/block.rs
  protocol/src/types/block.rs
Labels: refactor

#1067 docs: update README.md
  README.md
Labels: document

#1035 refactor: change metadata contract to system contract
  Cargo.lock
  common/memory-tracker/Cargo.toml
  core/executor/Cargo.toml
  core/executor/src/precompiles/blake2_f.rs
  core/executor/src/precompiles/call_ckb_vm.rs
  core/executor/src/precompiles/ec_add.rs
  core/executor/src/precompiles/ec_mul.rs
  core/executor/src/precompiles/ec_pairing.rs
  core/executor/src/precompiles/ecrecover.rs
  core/executor/src/precompiles/get_cell.rs
  core/executor/src/precompiles/identity.rs
  core/executor/src/precompiles/metadata.rs
  core/executor/src/precompiles/mod.rs
  core/executor/src/precompiles/modexp.rs
  core/executor/src/precompiles/ripemd160.rs
  core/executor/src/precompiles/sha256.rs
  core/executor/src/precompiles/verify_by_ckb_vm.rs
  core/executor/src/system_contract/error.rs
  core/executor/src/system_contract/image_cell/exec.rs
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/system_contract/image_cell/store.rs
  core/executor/src/system_contract/image_cell/trie_db.rs
  core/executor/src/system_contract/metadata/abi/metadata_abi.json
  core/executor/src/system_contract/metadata/abi/metadata_abi.rs
  core/executor/src/system_contract/metadata/abi/mod.rs
  core/executor/src/system_contract/metadata/handle.rs
  core/executor/src/system_contract/metadata/mod.rs
  core/executor/src/system_contract/metadata/segment.rs
  core/executor/src/system_contract/metadata/store.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/system_contract/native_token.rs
  core/executor/src/system_contract/utils.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/executor/src/tests/system_script/metadata.rs
  core/executor/src/tests/system_script/mod.rs
  core/executor/src/tests/system_script/native_token.rs
Labels: refactor

#1072 chore: bump lru and jsonrpsee to latest
  Cargo.lock
  common/apm-derive/Cargo.toml
  core/api/Cargo.toml
  core/api/src/jsonrpc/mod.rs
  core/api/src/jsonrpc/ws_subscription.rs
  core/executor/Cargo.toml
  core/storage/Cargo.toml
  protocol/Cargo.toml
Labels: chore

#1076 refactor: change max_connections num type to u32
  common/config-parser/src/types.rs
  core/api/src/jsonrpc/mod.rs
Labels: refactor

#1068 feat(executor): add ckb light client system contract
  common/config-parser/src/types.rs
  core/executor/src/precompiles/call_ckb_vm.rs
  core/executor/src/precompiles/get_cell.rs
  core/executor/src/precompiles/get_header.rs
  core/executor/src/precompiles/metadata.rs
  core/executor/src/precompiles/mod.rs
  core/executor/src/precompiles/verify_by_ckb_vm.rs
  core/executor/src/system_contract/ckb_light_client/abi/ckb_light_client_abi.json
  core/executor/src/system_contract/ckb_light_client/abi/ckb_light_client_abi.rs
  core/executor/src/system_contract/ckb_light_client/abi/mod.rs
  core/executor/src/system_contract/ckb_light_client/mod.rs
  core/executor/src/system_contract/ckb_light_client/store.rs
  core/executor/src/system_contract/image_cell/abi/image_cell_abi.json
  core/executor/src/system_contract/image_cell/exec.rs
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/system_contract/image_cell/store.rs
  core/executor/src/system_contract/image_cell/utils.rs
  core/executor/src/system_contract/metadata/handle.rs
  core/executor/src/system_contract/metadata/mod.rs
  core/executor/src/system_contract/metadata/store.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/system_contract/trie_db.rs
  core/executor/src/system_contract/utils.rs
  core/executor/src/tests/system_script/ckb_light_client.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/executor/src/tests/system_script/metadata.rs
  core/executor/src/tests/system_script/mod.rs
  core/interoperation/src/tests/mod.rs
  core/run/src/lib.rs
Labels: feature

#1083 ci: change pr lint workflow
  .github/workflows/pr_lint.yml
Labels: skip_changelog

#1095 chore: bump ckb related dependencies version to 0.108
  Cargo.lock
  core/executor/Cargo.toml
  core/interoperation/Cargo.toml
  core/mempool/Cargo.toml
  core/rpc-client/Cargo.toml
  protocol/Cargo.toml
Labels: chore

#1093 refactor: configure the server to serve JSON-RPC
  core/api/src/jsonrpc/mod.rs
Labels: refactor

#1092 fix: decode interoperation transaction signature
  protocol/src/codec/transaction.rs
  protocol/src/types/transaction.rs
Labels: bugfix

#1069 refactor: allow image cell system contract to receive multiple blocks
  core/executor/src/system_contract/image_cell/abi/image_cell_abi.json
  core/executor/src/system_contract/image_cell/abi/image_cell_abi.rs
  core/executor/src/system_contract/image_cell/contract/contracts/ImageCell.sol
  core/executor/src/system_contract/image_cell/contract/test/image-cell.js
  core/executor/src/system_contract/image_cell/store.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/interoperation/src/tests/verify_in_mempool.rs
Labels: refactor

#1084 refactor: move system contracts solidity projects to builtin-contract
  builtin-contract/system-contract/.gitignore
  builtin-contract/system-contract/README.md
  builtin-contract/system-contract/contracts/ckb_light_client/CkbLightClient.sol
  builtin-contract/system-contract/contracts/image_cell/ImageCell.sol
  builtin-contract/system-contract/contracts/libraries/CkbType.sol
  builtin-contract/system-contract/hardhat.config.js
  builtin-contract/system-contract/package.json
  builtin-contract/system-contract/test/image-cell.js
  builtin-contract/system-contract/yarn.lock
  core/executor/src/system_contract/ckb_light_client/abi/ckb_light_client_abi.rs
Labels: refactor

#1103 chore: update new axon logo
  docs/assets/logo/axon-01.png
Labels: chore

#1102 chore: add editor config
  .editorconfig
Labels: chore

#1112 refactor: change the bound of ExecutorAdapter trait
  core/executor/src/lib.rs
  core/executor/src/system_contract/ckb_light_client/mod.rs
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/system_contract/metadata/mod.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/tests/mod.rs
  core/executor/src/vm.rs
  protocol/src/traits/executor.rs
Labels: refactor
