Repository axonweb3/axon, pull requests merged in 2023-06, with the labels that each got.

#1196 feat: add an example of get cell precompile contract
  examples/solidity/GetCell.sol
  examples/solidity/GetHeader.sol
  examples/solidity/Types.sol
Labels: feature

#1206 fix(API): update eth fee history rpc method
  core/api/README.md
  core/api/src/jsonrpc/impl/web3.rs
  core/api/src/jsonrpc/mod.rs
  core/api/src/jsonrpc/web3_types.rs
  protocol/src/types/block.rs
  protocol/src/types/transaction.rs
  tests/e2e/src/eth_feeHistory.html
  tests/e2e/src/eth_feeHistory.test.js
  tests/e2e/src/eth_getBlockByNumber.test.js
Labels: bugfix

#1227 perf: reduce load peer store cost
  core/network/src/peer_manager/peer_store/peer_store_db.rs
Labels: enhancement

#1226 docs: automated update CHANGELOG.md
  CHANGELOG.md
Labels: skip_changelog, document

#1231 fix: fix block id decode
  core/api/src/jsonrpc/web3_types.rs
Labels: bugfix

#1233 fix(API): add latest parameter for BlockId type
  core/api/src/jsonrpc/impl/axon.rs
Labels: bugfix

#1236 refactor: update config file
  devtools/chain/k8s/node_1.toml
  devtools/chain/k8s/node_2.toml
  devtools/chain/k8s/node_3.toml
  devtools/chain/k8s/node_4.toml
  devtools/chain/nodes/node_1.toml
  devtools/chain/nodes/node_2.toml
  devtools/chain/nodes/node_3.toml
  devtools/chain/nodes/node_4.toml
Labels: refactor

#1237 docs: automated update CHANGELOG.md
  CHANGELOG.md
Labels: document

#1182 feat: custom network key provider
  Cargo.lock
  core/cli/src/lib.rs
  core/network/Cargo.toml
  core/network/examples/simple.rs
  core/network/src/lib.rs
  core/network/src/service.rs
  core/run/src/lib.rs
  devtools/keypair/Cargo.toml
  examples/custom_chain.rs
  src/lib.rs
Labels: feature

#1244 feat: add get proposal by number rpc method
  core/api/src/jsonrpc/impl/axon.rs
  core/api/src/jsonrpc/mod.rs
Labels: feature
