Repository axonweb3/axon, pull requests merged in 2023-04, with the labels that each got.

#1115 refactor(executor): switch to metadata system contract
  Cargo.lock
  Cargo.toml
  README.md
  common/config-parser/src/types.rs
  core/cli/src/lib.rs
  core/consensus/Cargo.toml
  core/consensus/src/adapter.rs
  core/consensus/src/consensus.rs
  core/consensus/src/engine.rs
  core/consensus/src/synchronization.rs
  core/consensus/src/tests/mod.rs
  core/executor/src/system_contract/metadata/handle.rs
  core/executor/src/system_contract/metadata/segment.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/tests/system_script/ckb_lc_and_ic.rs
  core/executor/src/tests/system_script/ckb_light_client.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/executor/src/tests/system_script/metadata.rs
  core/executor/src/tests/system_script/mod.rs
  core/interoperation/src/tests/mod.rs
  core/mempool/src/adapter/mod.rs
  core/metadata/Cargo.toml
  core/metadata/metadata_abi.json
  core/metadata/src/adapter.rs
  core/metadata/src/lib.rs
  core/metadata/src/metadata_abi.rs
  core/metadata/src/tests/controller.rs
  core/metadata/src/tests/metadata.json
  core/metadata/src/tests/metadata_multi.json
  core/metadata/src/tests/mod.rs
  core/run/Cargo.toml
  core/run/src/lib.rs
  devtools/chain/config.toml
  devtools/chain/genesis_single_node.json
  devtools/chain/nodes/default.db-options
  devtools/chain/nodes/genesis_multi_nodes.json
  devtools/chain/nodes/node_1.toml
  devtools/chain/nodes/node_2.toml
  devtools/chain/nodes/node_3.toml
  devtools/chain/nodes/node_4.toml
  devtools/genesis-generator/Cargo.toml
  devtools/genesis-generator/src/main.rs
  protocol/src/traits/consensus.rs
  protocol/src/traits/metadata.rs
  protocol/src/traits/mod.rs
Labels: refactor

#1119 feat(executor): remove modexp limit
  core/executor/src/precompiles/modexp.rs
Labels: feature

#1133 refactor: change the maximum RPC gas cap limit
  core/api/src/jsonrpc/impl/web3.rs
  protocol/src/types/block.rs
Labels: refactor

#1142 fix(executor): should check all system contracts' address
  core/executor/src/lib.rs
  core/mempool/src/adapter/mod.rs
Labels: bugfix

#1144 ci: change repository org name to axonweb3
  .github/workflows/copy_config_to_devops.yml
Labels: skip_changelog, refactor

#1147 ci: build axon binary for M1
  .github/workflows/release.yml
Labels: skip_changelog

#1116 refactor(core): refactor axon start
  Cargo.lock
  core/cli/src/lib.rs
  core/consensus/src/consensus.rs
  core/network/Cargo.toml
  core/network/examples/simple.rs
  core/network/src/config.rs
  core/run/src/lib.rs
Labels: refactor

#1156 ci: change tag value
  .github/workflows/release.yml
Labels: skip_changelog

#1157 refactor: change keccak hash function
  Cargo.lock
  Cargo.toml
  common/hasher/Cargo.toml
  common/hasher/src/lib.rs
  protocol/Cargo.toml
  protocol/src/types/primitive.rs
Labels: refactor

#1161 ci: increase timeout of build-docker image workflow
  .github/workflows/build_image.yml
Labels: skip_changelog

#1162 refactor: change the initial distributed and config file
  Cargo.lock
  common/config-parser/src/lib.rs
  common/config-parser/src/types.rs
  core/mempool/benches/mock.rs
  core/mempool/src/lib.rs
  core/mempool/src/tests/mod.rs
  core/run/Cargo.toml
  core/run/src/lib.rs
  devtools/chain/config.toml
  devtools/chain/nodes/node_1.toml
  devtools/chain/nodes/node_2.toml
  devtools/chain/nodes/node_3.toml
  devtools/chain/nodes/node_4.toml
Labels: refactor

#1163 refactor: update config file
  devtools/chain/config.toml
Labels: refactor

#1164 ci: remove apply patch for config.toml due to some errors
  .github/workflows/copy_config_to_devops.yml
Labels: skip_changelog

#1152 refactor: remove useless field in header
  core/api/src/adapter.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/consensus/src/adapter.rs
  core/consensus/src/engine.rs
  core/consensus/src/status.rs
  core/consensus/src/synchronization.rs
  core/consensus/src/tests/mod.rs
  core/consensus/src/tests/synchronization.rs
  core/executor/benches/bench_transfer.rs
  core/executor/benches/mock.rs
  core/executor/benches/revm_adapter.rs
  core/executor/src/adapter/mod.rs
  core/executor/src/debugger/mod.rs
  core/interoperation/src/tests/mod.rs
  core/run/src/lib.rs
  core/storage/src/tests/mod.rs
  devtools/chain/genesis_single_node.json
  devtools/chain/nodes/genesis_multi_nodes.json
  devtools/chain/nodes/node_1.toml
  devtools/chain/nodes/node_2.toml
  devtools/chain/nodes/node_3.toml
  devtools/chain/nodes/node_4.toml
  protocol/src/codec/block.rs
  protocol/src/types/block.rs
  protocol/src/types/executor.rs
  rust-toolchain
Labels: refactor

#1166 feat(cli): add version compatible check
  Cargo.lock
  Cargo.toml
  common/config-parser/src/types.rs
  core/cli/Cargo.toml
  core/cli/src/lib.rs
  src/lib.rs
  src/main.rs
Labels: feature
