Repository axonweb3/axon, pull requests merged in 2023-10, with the labels that each got.

#1459 fix: set CORS to any to accept RPC calls from web-based apps
  Cargo.lock
  common/apm/Cargo.toml
  core/api/Cargo.toml
  core/api/src/jsonrpc/mod.rs
Labels: bugfix

#1461 fix(ci): update the concurrency strategy
  .github/workflows/clippy.yml
  .github/workflows/e2e_test.yml
  .github/workflows/fmt.yml
  .github/workflows/pr_lint.yml
  .github/workflows/unit_test.yml
Labels: skip_changelog, bugfix

#1449 refactor: change metadata system contract and add annotation
  .github/workflows/unit_test.yml
  Cargo.lock
  Makefile
  builtin-contract/metadata/.gitignore
  builtin-contract/metadata/contracts/metadata.sol
  builtin-contract/metadata/hardhat.config.js
  builtin-contract/metadata/package.json
  builtin-contract/metadata/scripts/metadata.deploy.js
  builtin-contract/metadata/scripts/metadata.proxy.js
  builtin-contract/metadata/yarn.lock
  builtin-contract/system-contract/contracts/ckb_light_client/CkbLightClient.sol
  builtin-contract/system-contract/contracts/image_cell/ImageCell.sol
  builtin-contract/system-contract/contracts/metadata/Metadata.sol
  core/executor/Cargo.toml
  core/executor/src/precompiles/metadata.rs
  core/executor/src/precompiles/mod.rs
  core/executor/src/system_contract/ckb_light_client/abi/ckb_light_client_abi.json
  core/executor/src/system_contract/ckb_light_client/abi/ckb_light_client_abi.rs
  core/executor/src/system_contract/ckb_light_client/store.rs
  core/executor/src/system_contract/image_cell/abi/image_cell_abi.json
  core/executor/src/system_contract/image_cell/abi/image_cell_abi.rs
  core/executor/src/system_contract/image_cell/store.rs
  core/executor/src/system_contract/metadata/abi/metadata_abi.json
  core/executor/src/system_contract/metadata/abi/metadata_abi.rs
  core/executor/src/system_contract/metadata/abi/mod.rs
  core/executor/src/system_contract/metadata/mod.rs
  core/executor/src/system_contract/metadata/store.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/tests/system_script/metadata.rs
  core/run/src/tests.rs
  devtools/chain/specs/multi_nodes/chain-spec.toml
  devtools/chain/specs/multi_nodes_short_epoch_len/chain-spec.toml
  devtools/chain/specs/single_node/chain-spec.toml
  protocol/src/types/block.rs
  protocol/src/types/primitive.rs
Labels: refactor, style

#1454 refactor!: insert metadata directly and remove genesis transactions
  Cargo.lock
  core/executor/src/system_contract/metadata/mod.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/tests/system_script/ckb_light_client.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/executor/src/tests/system_script/metadata.rs
  core/interoperation/src/tests/mod.rs
  core/run/Cargo.toml
  core/run/src/components/chain_spec.rs
  core/run/src/lib.rs
  core/run/src/tests.rs
Labels: refactor

#1468 fix: the default (or empty) values of genesis fields should be same as normal blocks
  common/config-parser/src/types/spec.rs
  core/run/src/lib.rs
  core/run/src/tests.rs
Labels: bugfix

#1467 refactor(cli): initialize chain without any secret key
  .github/workflows/axon-start-with-short-genesis.yml
  .github/workflows/openzeppelin_test_11.yml
  .github/workflows/openzeppelin_test_16_19.yml
  .github/workflows/openzeppelin_test_1_5_and_12_15.yml
  .github/workflows/openzeppelin_test_6_10.yml
  .github/workflows/somking_test.yml
  .github/workflows/v3_core_test.yml
  .github/workflows/web3_compatible.yml
  Makefile
  README.md
  core/cli/src/args/init.rs
  core/run/src/components/chain_spec.rs
  core/run/src/lib.rs
  core/run/src/tests.rs
  devtools/chain/debug.key
  devtools/docker/docker-entrypoint.sh
Labels: refactor

#1473 chore: fix no space left in the rust-unit-test workflow
  .github/workflows/unit_test.yml
Labels: github_actions, rust, skip_changelog, bugfix, chore

#1471 refactor!: split bls and secp256k1 private key
  common/config-parser/src/types/config.rs
  core/consensus/src/adapter.rs
  core/consensus/src/consensus.rs
  core/consensus/src/engine.rs
  core/consensus/src/synchronization.rs
  core/consensus/src/util.rs
  core/network/src/config.rs
  core/run/src/lib.rs
  core/run/src/tests.rs
  devtools/chain/config.toml
  devtools/chain/k8s/node_1.toml
  devtools/chain/k8s/node_2.toml
  devtools/chain/k8s/node_3.toml
  devtools/chain/k8s/node_4.toml
  devtools/chain/nodes/node_1.toml
  devtools/chain/nodes/node_2.toml
  devtools/chain/nodes/node_3.toml
  devtools/chain/nodes/node_4.toml
  devtools/chain/specs/multi_nodes/chain-spec.toml
  devtools/chain/specs/multi_nodes_short_epoch_len/chain-spec.toml
  devtools/chain/specs/single_node/chain-spec.toml
  protocol/src/traits/consensus.rs
  protocol/src/types/primitive.rs
Labels: refactor

#1451 feat: first hardfork with contract size limit
  builtin-contract/system-contract/contracts/metadata/Metadata.sol
  common/config-parser/src/types/spec.rs
  core/api/src/jsonrpc/impl/axon.rs
  core/executor/src/lib.rs
  core/executor/src/system_contract/metadata/abi/metadata_abi.json
  core/executor/src/system_contract/metadata/abi/metadata_abi.rs
  core/executor/src/system_contract/metadata/abi/mod.rs
  core/executor/src/system_contract/metadata/handle.rs
  core/executor/src/system_contract/metadata/mod.rs
  core/executor/src/system_contract/metadata/store.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/tests/system_script/metadata.rs
  core/run/src/lib.rs
  core/run/src/tests.rs
  protocol/src/types/block.rs
  protocol/src/types/primitive.rs
Labels: feature, P-High

#1475 chore: bump some dependenies version
  Cargo.lock
  common/config-parser/Cargo.toml
  common/memory-tracker/Cargo.toml
  core/db/Cargo.toml
  core/executor/Cargo.toml
  core/run/Cargo.toml
  core/storage/Cargo.toml
  protocol/Cargo.toml
Labels: chore

#1476 fix: fix consensus config encode fn
  core/executor/src/system_contract/metadata/store.rs
  core/run/src/tests.rs
  protocol/src/types/primitive.rs
Labels: bugfix

#1479 docs: add some hardfork relations api doc
  core/api/README.md
Labels: document

#1482 refactor: remove default value `0000 0000 0000 0000` of `Hex`
  protocol/src/lazy.rs
  protocol/src/types/primitive.rs
Labels: refactor

#1483 fix: fix get metadata by number
  core/api/src/adapter.rs
  protocol/src/traits/api.rs
Labels: bugfix

#1484 fix: fix evm config init
  core/api/src/jsonrpc/error.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/executor/src/lib.rs
  core/executor/src/tests/system_script/metadata.rs
Labels: bugfix

#1485 fix: rlp encode and decode of `Proposal` struct
  protocol/src/codec/block.rs
Labels: bugfix

#1481 refactor: no plain-text private key in configuration file
  common/config-parser/src/types/config.rs
  devtools/chain/bls.key
  devtools/chain/config.toml
  devtools/chain/k8s/node_1.toml
  devtools/chain/k8s/node_1_bls.key
  devtools/chain/k8s/node_1_net.key
  devtools/chain/k8s/node_2.toml
  devtools/chain/k8s/node_2_bls.key
  devtools/chain/k8s/node_2_net.key
  devtools/chain/k8s/node_3.toml
  devtools/chain/k8s/node_3_bls.key
  devtools/chain/k8s/node_3_net.key
  devtools/chain/k8s/node_4.toml
  devtools/chain/k8s/node_4_bls.key
  devtools/chain/k8s/node_4_net.key
  devtools/chain/k8s/sync_nodes/node_5.toml
  devtools/chain/k8s/sync_nodes/node_6.toml
  devtools/chain/k8s/sync_nodes/node_7.toml
  devtools/chain/k8s/sync_nodes/node_8.toml
  devtools/chain/net.key
  devtools/chain/nodes/node_1.toml
  devtools/chain/nodes/node_1_bls.key
  devtools/chain/nodes/node_1_net.key
  devtools/chain/nodes/node_2.toml
  devtools/chain/nodes/node_2_bls.key
  devtools/chain/nodes/node_2_net.key
  devtools/chain/nodes/node_3.toml
  devtools/chain/nodes/node_3_bls.key
  devtools/chain/nodes/node_3_net.key
  devtools/chain/nodes/node_4.toml
  devtools/chain/nodes/node_4_bls.key
  devtools/chain/nodes/node_4_net.key
Labels: refactor

#1489 chore(deps): bump @chainsafe/dappeteer to ^5.2.0 in e2e-test
  tests/e2e/package.json
  tests/e2e/src/web3_clientVersion.test.js
  tests/e2e/yarn.lock
Labels: chore

#1491 style: rename some variable of executor
  core/executor/src/lib.rs
Labels: style

#1495 refactor: more details for JSON RPC errors
  core/api/src/jsonrpc/error.rs
Labels: refactor

#1504 chore(CI): build a portable binary in CI for different CPU architectures
  .github/workflows/axon-start-with-short-genesis.yml
  .github/workflows/hardfork_test.yml
  .github/workflows/openzeppelin_test_11.yml
  .github/workflows/openzeppelin_test_16_19.yml
  .github/workflows/openzeppelin_test_1_5_and_12_15.yml
  .github/workflows/openzeppelin_test_6_10.yml
  .github/workflows/v3_core_test.yml
  .github/workflows/web3_compatible.yml
Labels: skip_changelog, chore

#1517 refactor: remove the limitation of set ckb related info
  core/consensus/src/util.rs
  core/executor/src/system_contract/metadata/mod.rs
  core/run/src/lib.rs
Labels: refactor
