Repository axonweb3/axon, pull requests merged in 2023-07, with the labels that each got.

#1245 fix: update trie db key may delete
  core/executor/src/system_contract/ckb_light_client/store.rs
  core/executor/src/system_contract/image_cell/store.rs
  core/executor/src/system_contract/metadata/store.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/system_contract/trie_db.rs
Labels: bugfix

#1262 chore: release 0.1.0-beta.4 version
  Cargo.lock
  Cargo.toml
Labels: chore

#1264 fix(sync): fix return early in synchronization
  core/consensus/src/synchronization.rs
Labels: bugfix

#1266 chore: bump faster-hex to 0.8
  Cargo.lock
  protocol/Cargo.toml
  protocol/src/codec/mod.rs
Labels: chore

#1269 fix(cli): the sub-command is useless
  .github/workflows/openzeppelin_test_11.yml
  .github/workflows/openzeppelin_test_16_19.yml
  .github/workflows/openzeppelin_test_1_5_and_12_15.yml
  .github/workflows/openzeppelin_test_6_10.yml
  .github/workflows/somking_test.yml
  .github/workflows/v3_core_test.yml
  .github/workflows/web3_compatible.yml
  Dockerfile
  Makefile
  README.md
  core/cli/src/lib.rs
  docker-compose.yml
Labels: bugfix

#1279 Fix the permission error in `/run-ci` workflow
  .github/workflows/entry_workflow.yml
Labels: skip_changelog, bugfix

#1281 fix: eth_subscribe method name
  core/api/src/jsonrpc/ws_subscription.rs
Labels: bugfix
