Repository axonweb3/axon, pull requests merged in 2023-02, with the labels that each got.

#984 feat(interoperation): add verify image cell by ckb vm
  Cargo.lock
  core/cross-client/src/adapter/db.rs
  core/cross-client/src/adapter/mod.rs
  core/cross-client/src/lib.rs
  core/cross-client/src/monitor.rs
  core/cross-client/src/task/message.rs
  core/cross-client/src/task/mod.rs
  core/executor/Cargo.toml
  core/executor/src/lib.rs
  core/executor/src/precompiles/call_ckb_vm.rs
  core/executor/src/precompiles/get_cell.rs
  core/executor/src/precompiles/mod.rs
  core/executor/src/precompiles/verify_by_ckb_vm.rs
  core/executor/src/system_contract/image_cell/abi/mod.rs
  core/executor/src/system_contract/image_cell/data_provider.rs
  core/executor/src/system_contract/image_cell/exec.rs
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/system_contract/image_cell/store.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/interoperation/Cargo.toml
  core/interoperation/src/lib.rs
  core/interoperation/src/tests/mod.rs
  core/interoperation/src/tests/verify_in_mempool.rs
  core/interoperation/src/utils.rs
  core/mempool/src/adapter/mod.rs
  core/run/src/lib.rs
  protocol/Cargo.toml
  protocol/src/traits/interoperation.rs
  protocol/src/types/interoperation.rs
  protocol/src/types/mod.rs
  protocol/src/types/transaction.rs
Labels: feature

#1022 fix(executor): unit test of update image cell
  core/executor/src/tests/system_script/image_cell.rs
Labels: bugfix

#1025 docs: automated update CHANGELOG.md
  CHANGELOG.md
Labels: document

#1031 refactor: change some rlp impl into proc macro
  protocol/src/codec/block.rs
  protocol/src/codec/executor.rs
  protocol/src/codec/mod.rs
  protocol/src/types/block.rs
  protocol/src/types/executor.rs
  protocol/src/types/primitive.rs
Labels: refactor

#1040 docs: automated update CHANGELOG.md
  CHANGELOG.md
Labels: document

#1045 feat(API): add several eth APIs
  common/apm/src/metrics/api.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/api/src/jsonrpc/mod.rs
  protocol/src/lazy.rs
Labels: feature

#1049 refactor: cargo format
  core/api/src/jsonrpc/mod.rs
  protocol/src/lazy.rs
Labels: refactor
