Repository axonweb3/axon, pull requests merged in 2023-08, with the labels that each got.

#1280 refactor(executor): thread local instead of global variable
  core/api/src/adapter.rs
  core/api/src/jsonrpc/impl/ckb_light_client.rs
  core/api/src/jsonrpc/impl/web3.rs
  core/api/src/jsonrpc/mod.rs
  core/consensus/src/adapter.rs
  core/consensus/src/engine.rs
  core/consensus/src/synchronization.rs
  core/executor/src/adapter/mod.rs
  core/executor/src/lib.rs
  core/executor/src/precompiles/call_ckb_vm.rs
  core/executor/src/precompiles/get_cell.rs
  core/executor/src/precompiles/get_header.rs
  core/executor/src/precompiles/metadata.rs
  core/executor/src/precompiles/verify_by_ckb_vm.rs
  core/executor/src/system_contract/ckb_light_client/mod.rs
  core/executor/src/system_contract/ckb_light_client/store.rs
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/system_contract/image_cell/store.rs
  core/executor/src/system_contract/metadata/handle.rs
  core/executor/src/system_contract/metadata/mod.rs
  core/executor/src/system_contract/metadata/store.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/system_contract/native_token.rs
  core/executor/src/system_contract/utils.rs
  core/executor/src/tests/system_script/ckb_light_client.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/mempool/src/adapter/mod.rs
  core/run/src/lib.rs
  protocol/src/lazy.rs
  protocol/src/traits/api.rs
Labels: refactor

#1300 perf: reduce mem cost on modexp
  core/executor/src/precompiles/modexp.rs
Labels: enhancement

#1288 fix: fix always success cell init
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/system_contract/image_cell/utils.rs
  core/executor/src/system_contract/mod.rs
  core/interoperation/src/utils.rs
  core/network/src/peer_manager/peer_store/peer_store_impl.rs
  protocol/src/lazy.rs
Labels: bugfix

#1303 fix: no default values when unexpected errors occurred
  core/consensus/src/engine.rs
  core/executor/src/adapter/mod.rs
  core/executor/src/lib.rs
  core/executor/src/precompiles/get_cell.rs
  protocol/src/types/interoperation.rs
Labels: bugfix

#1315 Revert(#1288) "fix: fix always success cell init"
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/system_contract/image_cell/utils.rs
  core/executor/src/system_contract/mod.rs
  core/interoperation/src/utils.rs
  core/network/src/peer_manager/peer_store/peer_store_impl.rs
  protocol/src/lazy.rs
Labels: bugfix

#1313 ci: add merge_group to enable GitHub merge queue
  .github/workflows/axon-start-with-short-genesis.yml
  .github/workflows/clippy.yml
  .github/workflows/e2e_test.yml
  .github/workflows/fmt.yml
  .github/workflows/unit_test.yml
Labels: skip_changelog

#1316 refactor: change the position of signature hash in interoperation verify
  Cargo.lock
  core/executor/Cargo.toml
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/system_contract/image_cell/utils.rs
  core/executor/src/system_contract/mod.rs
  core/network/src/peer_manager/peer_store/peer_store_impl.rs
  protocol/Cargo.toml
  protocol/src/lazy.rs
  protocol/src/traits/interoperation.rs
  protocol/src/traits/mod.rs
  protocol/src/types/interoperation.rs
Labels: refactor, bugfix

#1302 fix(storage): genesis receipts should be saved
  core/consensus/src/engine.rs
  core/consensus/src/lib.rs
  core/consensus/src/synchronization.rs
  core/consensus/src/tests/synchronization.rs
  core/executor/src/lib.rs
  core/executor/src/utils.rs
  core/run/src/lib.rs
  protocol/src/types/block.rs
  protocol/src/types/executor.rs
  protocol/src/types/mod.rs
  tests/e2e/src/eth_feeHistory.test.js
Labels: bugfix

#1319 feat!: add `version` field to block header and proposal
  core/api/src/jsonrpc/impl/web3.rs
  core/consensus/src/adapter.rs
  core/consensus/src/engine.rs
  core/consensus/src/lib.rs
  core/consensus/src/tests/mod.rs
  core/consensus/src/tests/synchronization.rs
  core/interoperation/src/tests/mod.rs
  core/run/src/tests.rs
  core/storage/src/tests/mod.rs
  devtools/chain/genesis/genesis_multi_nodes_short_epoch_len.json
  devtools/chain/genesis_single_node.json
  devtools/chain/nodes/genesis_multi_nodes.json
  protocol/src/codec/block.rs
  protocol/src/types/block.rs
  protocol/src/types/mod.rs
Labels: feature

#1321 chore: disable npm dependency upgrade bot
  .github/dependabot.yml
Labels: chore

#1320 refactor: use constant values as default values
  Cargo.lock
  core/consensus/src/engine.rs
  core/consensus/src/util.rs
  core/executor/benches/revm_adapter.rs
  core/executor/src/adapter/mod.rs
  core/executor/src/lib.rs
  protocol/Cargo.toml
  protocol/src/types/primitive.rs
Labels: refactor

#1326 refactor: use derive apis to parse command line arguments
  Cargo.lock
  common/config-parser/Cargo.toml
  common/config-parser/src/types.rs
  core/cli/Cargo.toml
  core/cli/src/args/mod.rs
  core/cli/src/args/run.rs
  core/cli/src/error.rs
  core/cli/src/lib.rs
  core/cli/src/utils.rs
Labels: refactor

#1327 chore: simplify PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, chore

#1336 chore: remove useless code
  Makefile
Labels: chore

#1341 ci: refactor axon start with short genesis workflow
  .github/workflows/axon-start-with-short-genesis.yml
  .github/workflows/build.yml
  .github/workflows/openzeppelin_test_11.yml
  .github/workflows/openzeppelin_test_16_19.yml
  .github/workflows/openzeppelin_test_1_5_and_12_15.yml
  .github/workflows/openzeppelin_test_6_10.yml
  .github/workflows/v3_core_test.yml
  .github/workflows/web3_compatible.yml
  devtools/ci/scripts/helper.js
Labels: github_actions, skip_changelog, refactor, chore

#1340 feat: import addresses with EIP-55
  Cargo.lock
  common/config-parser/src/types/spec.rs
  devtools/chain/specs/multi_nodes/chain-spec.toml
  devtools/chain/specs/multi_nodes_short_epoch_len/chain-spec.toml
  devtools/chain/specs/single_node/chain-spec.toml
  protocol/Cargo.toml
  protocol/src/codec/mod.rs
Labels: feature

#1348 fix: prometheus could not be disabled
  core/run/src/lib.rs
Labels: bugfix

#1328 refactor: change config to single struct
  builtin-contract/metadata/contracts/metadata.sol
  builtin-contract/metadata/yarn.lock
  core/consensus/src/consensus.rs
  core/consensus/src/engine.rs
  core/consensus/src/synchronization.rs
  core/executor/src/system_contract/metadata/abi/metadata_abi.json
  core/executor/src/system_contract/metadata/abi/metadata_abi.rs
  core/executor/src/system_contract/metadata/abi/mod.rs
  core/executor/src/system_contract/metadata/mod.rs
  core/executor/src/system_contract/metadata/store.rs
  core/executor/src/tests/system_script/metadata.rs
  core/run/src/lib.rs
  core/run/src/tests.rs
  devtools/chain/specs/multi_nodes/genesis_transactions.json
  devtools/chain/specs/multi_nodes_short_epoch_len/genesis_transactions.json
  devtools/chain/specs/single_node/genesis_transactions.json
  devtools/genesis-generator/metadata.json
  devtools/genesis-generator/metadata_multi_nodes.json
  protocol/src/types/block.rs
  protocol/src/types/primitive.rs
  tests/data/genesis.json
Labels: refactor

#1350 ci: refactor `cargo build` and `cargo clippy` workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/axon-start-with-short-genesis.yml
  .github/workflows/build.yml
  .github/workflows/clippy.yml
Labels: rust, skip_changelog, refactor, chore

#1355 refactor: remove useless test for sol contract
  builtin-contract/metadata/contracts/metadata.sol
  builtin-contract/metadata/test/Metadata.test.js
  core/executor/src/system_contract/metadata/abi/metadata_abi.json
  core/executor/src/tests/system_script/metadata.rs
Labels: refactor

#1351 refactor(network): immutable chain id
  core/network/src/config.rs
  core/network/src/peer_manager/mod.rs
  core/network/src/service.rs
  core/run/src/lib.rs
Labels: refactor

#1354 ci: refactor unit test workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/clippy.yml
  .github/workflows/unit_test.yml
Labels: rust, skip_changelog, refactor, chore

#1360 ci: fix regression tests
  .github/workflows/regression_testing.yml
Labels: skip_changelog, bugfix

#1361 chore: build and push docker image to ghcr.io
  .github/workflows/build_image.yml
  .github/workflows/build_image_ghcr.yml
  .github/workflows/release.yml
  Dockerfile
Labels: github_actions, chore

#1370 fix: use a same trie for the same chain
  core/run/src/lib.rs
  core/run/src/tests.rs
Labels: bugfix

#1373 ci: fix `out-of-disk` in unit-test workflow
  .github/workflows/unit_test.yml
Labels: skip_changelog, bugfix

#1377 ci: check if cargo-sweep is installed and install it if necessary
  .github/workflows/unit_test.yml
Labels: github_actions, skip_changelog, chore

#1379 docs: update the meaning of genesis transactions
  .github/PULL_REQUEST_TEMPLATE.md
  devtools/chain/README.md
Labels: document

#1381 chore: refactor CI workflows and PR template
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/axon-start-with-short-genesis.yml
  .github/workflows/build.yml
  .github/workflows/entry_workflow.yml
  .github/workflows/fmt.yml
  .github/workflows/release.yml
  .github/workflows/somking_test.yml
  .github/workflows/unit_test.yml
  Cargo.toml
  Makefile
  protocol/src/codec/mod.rs
Labels: github_actions, skip_changelog, refactor, chore

#1385 ci: refactor the `/run-ci` workflow
  .github/workflows/entry_workflow.yml
Labels: github_actions, skip_changelog, refactor

#1382 refactor!: change the rlp codec of `Hex`
  core/run/src/tests.rs
  protocol/src/codec/mod.rs
  protocol/src/types/primitive.rs
  tests/e2e/src/create_test_data/createTestDataManage.js
  tests/e2e/src/web3_sha3.test.js
Labels: refactor

#1389 feat(storage): batch insert with sync
  core/db/src/rocks.rs
Labels: feature

#1380 feat: add hardfork storage to metadata contract
  core/api/src/adapter.rs
  core/api/src/jsonrpc/impl/axon.rs
  core/api/src/jsonrpc/mod.rs
  core/executor/benches/bench_transfer.rs
  core/executor/benches/mock.rs
  core/executor/src/debugger/mod.rs
  core/executor/src/system_contract/metadata/abi/metadata_abi.rs
  core/executor/src/system_contract/metadata/handle.rs
  core/executor/src/system_contract/metadata/mod.rs
  core/executor/src/system_contract/metadata/store.rs
  protocol/src/traits/api.rs
  protocol/src/types/executor.rs
  protocol/src/types/primitive.rs
Labels: feature

#1285 refactor(precompile): call ckb vm and verify by ckb payload
  core/executor/src/precompiles/call_ckb_vm.rs
  core/executor/src/precompiles/get_cell.rs
  core/executor/src/precompiles/get_header.rs
  core/executor/src/precompiles/mod.rs
  core/executor/src/precompiles/verify_by_ckb_vm.rs
  examples/solidity/CallCkbVm.sol
  examples/solidity/GetCell.sol
  examples/solidity/Types.sol
  examples/solidity/VerifyByCKb.sol
Labels: refactor
