Repository axonweb3/axon, pull requests merged in 2023-01, with the labels that each got.

#963 fix(e2e): fix dappeteer compatible with revert stable version
  tests/e2e/package.json
  tests/e2e/yarn.lock
Labels: bugfix

#962 fix(e2e): fix dappeteer v3.0.0 compatible
  tests/e2e/CONTRIBUTING.md
  tests/e2e/CONTRIBUTING_en-Hans.md
  tests/e2e/CONTRIBUTING_zh-Hans.md
  tests/e2e/jest/setup.js
  tests/e2e/package.json
  tests/e2e/src/web3_clientVersion.test.js
  tests/e2e/yarn.lock
Labels: bugfix

#966 ci: update changelog ci
  .github/workflows/generate_changlog_file.yml
Labels: skip_changelog

#977 fix: net version to string
  core/api/src/jsonrpc/impl/node.rs
  core/api/src/jsonrpc/mod.rs
  tests/e2e/src/net_version.test.js
Labels: bugfix

#981 refactor: change the system contract error
  Cargo.lock
  core/executor/Cargo.toml
  core/executor/src/precompiles/get_cell.rs
  core/executor/src/precompiles/mod.rs
  core/executor/src/system_contract/error.rs
  core/executor/src/system_contract/image_cell/error.rs
  core/executor/src/system_contract/image_cell/exec.rs
  core/executor/src/system_contract/image_cell/mod.rs
  core/executor/src/system_contract/image_cell/store.rs
  core/executor/src/system_contract/image_cell/trie_db.rs
  core/executor/src/system_contract/mod.rs
  core/executor/src/tests/system_script/image_cell.rs
  core/run/src/lib.rs
Labels: refactor

#986 docs: automated update CHANGELOG.md
  CHANGELOG.md
Labels: document

#997 chore: bump rust toolchain to 1.67
  Cargo.lock
  clippy.toml
  common/apm-derive/src/lib.rs
  common/apm/src/lib.rs
  common/config-parser/src/lib.rs
  common/logger/src/lib.rs
  common/memory-tracker/src/lib.rs
  core/api/src/lib.rs
  core/consensus/src/consensus.rs
  core/consensus/src/lib.rs
  core/consensus/src/util.rs
  core/consensus/src/wal.rs
  core/cross-client/Cargo.toml
  core/cross-client/src/lib.rs
  core/executor/Cargo.toml
  core/executor/benches/bench_transfer.rs
  core/executor/benches/mock.rs
  core/executor/src/debugger/mod.rs
  core/executor/src/lib.rs
  core/interoperation/src/lib.rs
  core/mempool/benches/bench.rs
  core/mempool/benches/mock.rs
  core/mempool/src/lib.rs
  core/metadata/src/lib.rs
  core/network/examples/simple.rs
  core/network/src/lib.rs
  core/network/src/service.rs
  core/run/src/lib.rs
  core/storage/src/lib.rs
  core/tx-assembler/src/lib.rs
  devtools/genesis-generator/src/main.rs
  devtools/keypair/src/main.rs
  protocol/src/lib.rs
  rust-toolchain
Labels: chore
